{% extends "portal/base_page.html" %}

{% load static %}

{% block content %}
<div class="container">
  <div class="card mt-3">
    <div class="card-header bg-success-subtle">
      <div class="d-flex">
        <strong>Instalação</strong>
      </div>
    </div>
    <div class="card-body py-3 px-1">
        <div class="card-body">
          <h5 class="card-title">Sucesso</h5>
        </div>
      </div>
    </div>
    <div class="card-footer mt-4">
      <div class="text-center">
        <kbd class="text-success">Net2d</kbd>
      </div>
    </div>
  </div>
</div>
{% endblock %}
